$font-stack: 'Muli', sans-serif;
$background: #ffffff;
$border: #eee;

body {
  font-family: $font-stack;
  background: $background;
}

ul {
  list-style: none;
  padding: 0;
}

.row {
  padding-right: 15%;
  padding-left: 15%;
}

.col-centered {
  margin:0 auto;
}

.form-control {
  margin-bottom:20px;
}

.btn-block {
  margin-bottom: 20px;
}

.form-label {
  padding-bottom: 7px;
}

.item-default-view {
  border-left: 1px solid $border;
  border-bottom: 1px solid $border;
  background-color:$background;
  padding: 10px 10px 50px 10px;
}

.item-default-header-label {
  display:list-item;
  font-weight:500;
  text-transform: uppercase;
}

.item-default-content-label {
  display:list-item;
  font-weight:200;
}

@media only screen and (min-width: 1024px)  {
  .col-centered {
    max-width:50%;
  }
}

