$font-stack: 'Muli', sans-serif;
$background: #fff;

body {
  font-family: $font-stack;
  background: $background;
}

.row {
  padding-right: 15%;
  padding-left: 15%;
}

.col-centered {
  margin:0 auto;
}

.form-control {
  margin-bottom:20px;
}

.btn-block {
  margin-bottom: 20px;
}

.form-label {
  padding-bottom: 7px;
}

@media only screen and (min-width: 768px)  {
  .col-centered {
    max-width:50%;
  }
  .btn {
    min-width:80px;
  }
}
